.hero{
    background-image: url(../../../assets/img/Heade.svg);
    background-color: #fff;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-hero{
    z-index: 1;
    margin: 0 2rem;
}
.contenido-hero p{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}
.contenido-hero .dev-text{
    font-family: var(--fuente_secundaria);
    font-size: 2rem;
    font-weight: 500;
}

.contenido-hero  .welcome-text{
    color: var(--gold);
}
    
    @media(min-width:768px){  
        .contenido-hero p{  
            font-size: 7.2rem;
        }
        .contenido-hero .dev-text{
            letter-spacing: 0.5rem;
            font-size: 2rem;
            font-weight: 500;
        }

}