/* para cambiar el progreso, hay que modificar la clase .pie-wrapper progress-[VALOR]
los valores soportados son: 30  45  60  75  90 y 95.

ej: <div class="pie-wrapper progress-45"> Pasara al 45 el progreso. (el texto se cambia aparte) */


@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* 
html,
body {
  background: #ecf0f1;
  color: #444;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
} */

.habilidades, .habilidad{
  color: white;
}


.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0/50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  transform: rotate(43.2deg);
}


/* Skills */

.skills{
  color: white;
  margin: 0 auto;
  margin-bottom: 7rem;
}
.skills .title-skill{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;  
  } 

.list li{
    list-style: none;
    margin-bottom: 1rem;
    margin:0rem 0rem 1rem 4rem;
    color: #b4b5b8;
}

@media (min-width: 768px) {
  .list li{
        margin-bottom: 2.5rem;
    }
}


.ul_emphasis .title-skill::before {
  content: "•";
  font-size: 3rem;
  color: var(--gold);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.cont-images{
  position: relative;
}

.cont-image{
  position: relative;
  margin: 0 auto;
   /* background-color: red; */
  width: 25rem;
  height: 40rem;
  border-radius: 3rem;
  box-shadow:  0 0 0.5rem 0.5rem rgba(0,0,0,0.5);
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .cont-image {
        width: 35rem;
        height: 45rem;
    }
}

@media (min-width: 1080px) {
  .cont-image {
        position: relative;
        width: 30rem;
        height: 45rem;
    }
}
@media (min-width: 1400px) {
  .cont-image {
        position: absolute;
        width: 35rem;
        height: 50rem;
    }
}


.cont-image:first-child{
  background-image: url('https://res.cloudinary.com/drbu4rlif/image/upload/v1660156079/Portfolio/skills-1_bvfdm9.jpg');
  top: 16rem;
  left: 5rem;
}
.cont-image:nth-child(2){
  background-image: url('https://res.cloudinary.com/drbu4rlif/image/upload/v1660156080/Portfolio/skills-2_h21xfk.jpg');
  top: -7rem;
  left: -5rem;
  z-index: 1;
}
.points{
  position: absolute;
  background-image: url('https://res.cloudinary.com/drbu4rlif/image/upload/v1660156075/Portfolio/points_qt18gg.png');
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  background-size: cover;
  background-position: center;
  z-index: 2;
  top: 25rem;
  left: 4rem;
  transform: rotate(90deg);
}
  

@media (min-width: 768px) {
  .cont-image:first-child{
      top: 0rem;
      left: 10rem;
      order: 1;
  }
  .cont-image:nth-child(2){
      top: -24rem;
      left: -9rem;
      z-index: 1;
      order: 2;
  }
  .points{
      width: 17rem;
      height: 17rem;
      top: 47rem;
      left: 46rem;
      transform: rotate(270deg);
  }
}
@media (min-width: 992px) {
  .points{ 
      left: 58rem;
  }
}

@media (min-width: 1080px) {
  .cont-image:first-child{
      top: 2rem;
      left: 15rem;
  }
  .cont-image:nth-child(2){
      top: -19rem;
      left: -2rem;
      z-index: 1;
  }
  .points{
      width: 18rem;
      height: 18rem;
      top: 49rem;
      left: 62rem;
      
  }
}
@media (min-width: 1200px) {
  .cont-image:first-child{
      left: 7rem;
  }
  .cont-image:nth-child(2){
      left: -10rem;
  }
  .points{
      width: 15rem;
      height: 15rem;
      left: 30rem;
      
  }  
}

@media (min-width: 1400px) {
  .cont-image:first-child{
      top: 27rem;
      left: -6px;
  }
  .cont-image:nth-child(2){
      top: 18px;
      left: -28rem;
  }
  .points{
      width: 20rem;
      height: 20rem;
      top: 53rem;
      left: -22rem;
      transform: rotate(0deg);
  }
}
