<!-- <header id="topheader">
  <div class="row" id="cont-header"> -->
          <nav class="navbar navbar-expand-xl bg-transparent fixed-top py-4 b-n" [class.nav_change]="nav_bar">
            <div class="container-fluid">
              <a class="navbar-brand" (click)="navegarA('inicio')" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">
                  <img class="logo" src="https://res.cloudinary.com/drbu4rlif/image/upload/v1660156074/Portfolio/APLogo-20-20_oz8ge5.svg" alt="Argentina Programa logo"> 
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i style="font-size: 2rem;" class="fa-solid fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <p class="me-auto mb-2 mb-lg-0 mx-4 arg-p">Argentina Programa - #YoProgramo</p>
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a class="nav-link mx-3" (click)="navegarA('inicio')" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-3" (click)="navegarA('skills')" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-3" (click)="navegarA('proyectos')" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show" >Proyectos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-3" (click)="navegarA('educacion')" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Educación</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-3" (click)="navegarA('experiencia')" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Experiencia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-3" (click)="navegarA('contacto')" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show" >Contacto</a>
                  </li>
                  <li *ngIf="!isLogin" class="nav-item navbar-nav">
                    <div id="social-botones" class="mx-2">
                      <a class=" nav-link mx-3" style="color:var(--grey) ;" routerLink="login" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show">
                        Login
                      </a>
                    </div>
                  </li>
    
    
                  <li *ngIf="isLogin" class="nav-item">
                    <div id="social-botones" class="mx-2">
                      <a style="color:var(--grey)" class=" nav-link mx-3" (click)="logOut()" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show">
                        Logout</a>
                    </div>
                  </li>
                </ul>
                <div [class.logo-ff]="logo_ff">
                  <img src="https://res.cloudinary.com/drbu4rlif/image/upload/v1660156077/Portfolio/logo_wszg1r.webp" alt="Logo">
              </div>
              </div>
            </div>
          </nav>
  <!-- </div>
</header> -->
<router-outlet></router-outlet>