.hero{
    background-image: url("https://res.cloudinary.com/drbu4rlif/image/upload/v1660156078/Portfolio/Heade_gvjlmf.svg");
    background-color: #fff;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenido-hero{
    z-index: 1;
    margin: 0 2rem;
}
.dev-text{
    text-transform: uppercase;
}
.contenido-hero p{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
}
.contenido-hero .dev-text{
    font-family: var(--fuente_secundaria);
    font-size: 2rem;
    font-weight: 500;
}

.contenido-hero  .welcome-text{
    color: var(--gold);
}
    
    @media(min-width:768px){  
        .contenido-hero p{  
            font-size: 7.2rem;
            line-height: 10rem;
        }
        .contenido-hero .dev-text{
            letter-spacing: 0.5rem;
            font-size: 2rem;
            font-weight: 500;
        }
        

}


.btn-editar{
    position: absolute;
    
}