<div class="container-fluid mat-typography" *ngIf="cargado">
  <div class="row" id="inicio">
    <div class="hero">
      <!-- <div class="row">
        <div class="col-md-12" id="imgcover" style="background-image:url({{miPerfilUsuario.portadaUrl}});"></div>
      </div> -->
      <div class="contenido-hero" >
        <!-- <img alt="Foto de perfil" src="{{ miPerfilUsuario?.imgUrl }}" class="img-fluid" id="profpic" /> -->
        <p> <span class="dev-text">{{ miPerfilUsuario?.cargo }}</span> </p>
        <p>Hi, Im <span class="welcome-text">{{ miPerfilUsuario?.nombre }}</span></p>
        <p>Welcome to my Portfolio</p>
      </div>
      <div *ngIf="authority === 'admin'" class="col-md-8 py-1 float-end btn-editar">
        <a (click)="openEditFormModal(miPerfilUsuario.id)">
          <i class="float-end btn btn-success mx-2 fa-solid fa-pen-to-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<app-about-me [aboutMe]="miPerfilUsuario?.intro" ></app-about-me>
