<section class="row bg-light " id="proyectos">
  <div class="col-md-12">
    <h2 class="tx-grey my-5">Mis Proyectos</h2>

    <div *ngIf="authority === 'admin'">
      <div class="text-center" style="padding-right: 2em">
        <a class="m-3 p-4 btn btn-info" style="color: var(--white)" (click)="openAddFormModal()">Agregar Proyecto <i
            class="fa-solid fa-plus" style="color: var(--white)"></i></a>
      </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let elemento of miProyectos">
            <div class="card mb-4 shadow-sm">
              <img class="logoproyectos" src="{{ elemento.imgUrl }}" />
              <div class="card-body">
                <div *ngIf="authority === 'admin'" class="float-right">
                  <a (click)="openEditFormModal(elemento.id)">
                    <i class="btn btn-success mx-2 fa-solid fa-pen-to-square"></i>
                  </a>
                  <a (click)="borrar(elemento.id)">
                    <i class="btn btn-danger fa-solid fa-trash-can"></i>
                  </a>
                </div>
                <h3 class="mat-h3 text-left">{{ elemento.titulo }}</h3>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                      (click)="openDetalleModal(elemento.id)">
                      <span>Mas detalles</span>
                    </button>
                    <button *ngIf="cargado" type="button" class="btn btn-sm btn-outline-secondary" (click)="visitarUrl(elemento.id)">
                      <span>Visitar</span>
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>